<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>About the author</h1>
    <p>
      Sen Lin Yu is the author of several popular fan fictions which are
      accessible online for free. The name Sen Lin Yu is a pen name, which
      translates to "Forest Bathing" or "Forest Rain". The real name of the
      author is unknown. According to their
      <a
        href="https://www.instagram.com/senlinyuwrites/?hl=en"
        class="textlink"
        target="_blank"
        >Instagram</a
      >
      profile, Sen Lin Yu identifies as she/they. Their work gained massive
      popularity in the early 2020s, when many TikTok creators talked about
      popular works like "Manacled", a fan fiction based on the Harry Potter
      books by J.K. Rowling.
    </p>
    <p>Learn more about the most popular work by Sen Lin Yu:</p>
    <div class="button-divs">
      <a href="/works" class="button">Popular work</a>
    </div>
    <div class="button-divs">
      <a href="/home" class="home-button">Back to homepage</a>
    </div>
  </body>
</html>
