<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
  </head>
  <body>
    <h1>Meet the author: Sen Lin Yu</h1>
    <p>
      Welcome to this basic website, created to honor the author of several fan
      fictions: Sen Lin Yu.
    </p>
    <img
      src="/images/senlinyu-profile.jpeg"
      class="profile-pic"
      alt="SenLinYu profile picture"
    />
    <div class="button-divs">
      <a href="/about" class="button">About Sen Lin Yu</a>
      <a href="/works" class="button">Sen Lin Yu's Work</a>
    </div>
  </body>
</html>
