<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to this beautiful webpage!</h1>
    <p>
      This is a very basic homepage created to honor the author of several fan
      fictions: Sen Lin Yu.
    </p>
    <div>
      <a href="/about" class="button">About Sen Lin Yu</a>
    </div>
    <div>
      <a href="/works" class="button">Sen Lin Yu's Work</a>
    </div>
  </body>
</html>
