<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Sen Lin Yu's work</h1>
    <p>
      Sen Lin Yu is most famous for their Harry Potter fan fiction. The
      illustration shown is created by
      <a
        href="https://www.instagram.com/avendellart"
        target="_blank"
        class="textlink"
        >Avendell</a
      >.
    </p>
    <section>
      <img
        src="/images/manacled-img.webp"
        alt="Manacled cover"
        class="works-img"
      />
      <div class="work-description">
        <h2>Manacled</h2>
        <p>
          Harry Potter is dead. In the aftermath of the war, in order to
          strengthen the might of the magical world, Voldemort enacts a
          repopulation effort. Hermione Granger has an Order secret, lost but
          hidden in her mind, so she is sent as an enslaved surrogate to the
          High Reeve until her mind can be cracked.
        </p>
        <p class="warning">
          Trigger warning: This work is dark. Rape and non-consensual sex are a
          significant and ongoing aspect of the plot. There are also character
          deaths, psychological trauma, descriptions of battlefield violence,
          and references to torture. Reader discretion is advised.
        </p>
        <a
          href="https://archiveofourown.org/works/14454174"
          class="works-button"
          target="_blank"
          >Read it for free</a
        >
      </div>
    </section>
    <div class="button-divs">
      <a href="/home" class="home-button">Back to homepage</a>
    </div>
  </body>
</html>
